{%extends "base.html"%}{% load static %}
{%block content %}
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">


                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">data table</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <div class="rs-select2--light rs-select2--md">


                                        </div>
                                        <div class="rs-select2--light rs-select2--sm">

                                        </div>


                                    </div>
                                    <div class="table-data__tool-right">
                                        <form action="{% url 'add_skill' %}">
                                        <button type="submit" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>Add Service</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>

                                                <th>tech_name</th>
                                                <th>Added by</th>
                                                <th>progress</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for i in data%}
                                            <tr class="tr-shadow">
                                                <td>
                                                    <span class="block-name">{{i.tech_name }}</span>
                                                </td>

                                                <td>
                                                    <span class="block-name">{{user.first_name}}</span>
                                                </td>
                                                <td>
                                                    <span class="block-name">{{i.progress}}</span>
                                                </td>
                                                <td>
                                                    <form action="{% url 'del_skill' i.id %}">
                                                        <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>
                                                    </form>

                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            {%endfor%}

                                        </tbody>
                                    </table>
                                </div>
                                <!-- END DATA TABLE -->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    {%endblock%}
